@model IEnumerable<DemoDB2.Models.DONDATXE>
@using DemoDB2.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout00.cshtml";
}

<br />
<br />
<br />
<br />
@{
    if (Session["Hang"] != null)
    {
        using (Html.BeginForm("CapNhatSoLuong", "GioHang", FormMethod.Post))
        {

            <!-- CONTENT =============================-->
            <section class="item content">
                <div class="container toparea">
                    <div class="underlined-title">
                        <div class="editContent">
                            <h1 class="text-center latestitems">Đơn Đặt</h1>
                        </div>
                        <div class="wow-hr type_short">
                            <span class="wow-hr-h">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                    <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">
                        <form id="edd_checkout_cart_form" method="post">
                            <div id="edd_checkout_cart_wrap">
                                <table id="edd_checkout_cart" class="ajaxed">
                                    <thead>
                                        <tr class="edd_cart_header_row">
                                            <th class="edd_cart_item_name">
                                                Tên Xe
                                            </th>
                                            <th class="edd_cart_item_price">
                                                Giá / 1 Ngày
                                            </th>
                                            <th class="edd_cart_item_quantity">
                                                Số Lượng
                                            </th>
                                            <th class="edd_cart_actions">
                                                Xóa
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<Hang>)Session["Hang"])
                                        {
                                            <tr class="edd_cart_item" id="edd_cart_item_0_25" data-download-id="25">
                                                <td class="edd_cart_item_name">
                                                    @*<span class="edd_checkout_cart_item_title">@item.Xe.TENXE - @item.Xe.LOAIXE.HANGSANXUAT</span>*@
                                                    @Html.ActionLink(item.Xe.TENXE, "Detail", "DanhMucXe", new { id = item.Xe.MAXE }, null)
                                                </td>
                                                <td class="edd_cart_item_price">
                                                    @Html.DisplayFor(itemm => item.Xe.DONGIA) / 1 Ngày
                                                </td>
                                                <td class="edd_cart_item_quantity">
                                                    <input type="text" name="soluong" id="soluong" value="@item.Soluong" />
                                                    &nbsp;<span id="errormsg" style="color:red"></span>
                                                </td>
                                                <td class="edd_cart_actions">
                                                    @Html.ActionLink("Xóa", "Delete", "GioHang", new { id = item.Xe.MAXE }, new { @class = "edd_cart_remove_item_btn" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="edd_cart_footer_row">
                                            <th colspan="5">
                                                <a class="edd-cart-saving-button edd-submit button" id="edd-save-cart-button" href="@Url.Action("Index", "DanhMucXe")">Tiếp Tục Đặt Xe</a>
                                                <input type="submit" value="Cập Nhật Số Lượng Xe" class="edd-cart-saving-button edd-submit button" />
                                            </th>
                                        </tr>
                                        <tr class="edd_cart_footer_row edd_cart_discount_row" style="display:none;">
                                            <th colspan="5" class="edd_cart_discount">
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                        @using (Html.BeginForm("GuiDonDat", "GioHang", FormMethod.Post))
                        {
                            <div id="edd_checkout_form_wrap" class="edd_clearfix">
                                <form id="edd_purchase_form" class="edd_form" action="#" method="POST">
                                    <fieldset id="edd_checkout_user_info">
                                        <legend>Nhập Thông Tin Khách Hàng</legend>
                                        <p id="edd-name-wrap">
                                            <label class="edd-label" for="edd-name">
                                                Họ Và Tên <span class="edd-required-indicator">*</span>
                                            </label>
                                            <input class="edd-input required" type="text" name="Cusname" placeholder="Nhập Tên " id="edd-name" value="">
                                        </p>
                                        <p id="edd-phone-wrap">
                                            <label class="edd-label" for="edd-phone">
                                                Số Điện Thoại <span class="edd-required-indicator">*</span>
                                            </label>
                                            <input class="edd-input required" type="tel" name="Cusphone" placeholder="Nhập Số Điện Thoại" id="edd-phone" value="" required="">
                                        </p>
                                        <p id="edd-dia-chi-wrap">
                                            <label class="edd-label" for="edd-dia-chi">
                                                Địa Chỉ <span class="edd-required-indicator">*</span>
                                            </label>
                                            <input class="edd-input" type="text" name="Cusaddress" id="edd-adress" placeholder="Nhập Địa Chỉ" value="">
                                        </p>
                                        <p id="edd-dia-chi-wrap">
                                            <label class="edd-label" for="edd-dia-chi">
                                                Chọn ngày trả <span class="edd-required-indicator">*</span>
                                            </label>
                                            <input class="edd-input" type="date" name="CusDate" id="edd-adress" value="">
                                        </p>
                                    </fieldset>
                                    <fieldset id="edd_purchase_submit">
                                        <input type="hidden" name="edd_action" value="purchase">
                                        <input type="hidden" name="edd-gateway" value="manual">
                                        <input type="submit" class="edd-submit button" id="edd-purchase-button" name="edd-purchase" value="Gửi Yêu Cầu Đặt Xe">
                                    </fieldset>
                                </form>
                            </div>
                        }

                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <section class="item content">
            <div class="container toparea">
                <div class="underlined-title">
                    <div class="editContent">
                        <h1 class="text-center latestitems">Đơn Đặt</h1>
                    </div>
                    <div class="wow-hr type_short">
                        <span class="wow-hr-h">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
                <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">
                    <form id="edd_checkout_cart_form" method="post">
                        <div id="edd_checkout_cart_wrap">
                            <table id="edd_checkout_cart" class="ajaxed">
                                <thead>
                                    <tr class="edd_cart_header_row">
                                        <th class="edd_cart_item_name">
                                            Tên - Hãng
                                        </th>
                                        <th class="edd_cart_item_price">
                                            Giá / 1 Ngày
                                        </th>
                                        <th class="edd_cart_item_quantity">
                                            Số Lượng
                                        </th>
                                        <th class="edd_cart_actions">
                                            Xóa
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <h1>Không Có Xe Trong Giỏ Hàng</h1>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    }

}

<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#00bba7;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                    <h1 class="callactiontitle">
                        Promote Items Area Give Discount to Buyers <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $("#soluong").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errormsg").html("Chỉ Nhập Số!!").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>