@model DemoDB2.Models.LOAIXE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAIXE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENLOAIXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAIXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOCHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOCHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONGXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANGSANXUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANGSANXUAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHANH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MALOAIXE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
