@*@model IEnumerable<DemoDB2.Models.XE>*@
@using DemoDB2.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<XE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout00.cshtml";
    // List tên hãng
    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "Toyota" });
    l1.Add(new SelectListItem() { Text = "Honda" });
    l1.Add(new SelectListItem() { Text = "Mercedes" });
    l1.Add(new SelectListItem() { Text = "Ford" });
    l1.Add(new SelectListItem() { Text = "Kia" });
    l1.Add(new SelectListItem() { Text = "Mazda" });
    l1.Add(new SelectListItem() { Text = "Hyundai" });
    l1.Add(new SelectListItem() { Text = "Mitsubishi" });
    l1.Add(new SelectListItem() { Text = "VinFast" });

    // List màu xe
    List<SelectListItem> l2 = new List<SelectListItem>();
    l2.Add(new SelectListItem() { Text = "Màu Đen" });
    l2.Add(new SelectListItem() { Text = "Màu Trắng" });
    l2.Add(new SelectListItem() { Text = "Màu Đỏ" });
    l2.Add(new SelectListItem() { Text = "Màu Xanh" });
    l2.Add(new SelectListItem() { Text = "Màu Nâu" });
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<br />
@using (Html.BeginForm("Index", "DanhMucXe", FormMethod.Get))
{<form class="formtim">
        <div class="container">
            <div class="row">
                <div class="form-inline">
                    @Html.TextBox("SearchString", null, new { @style = "width:50%; border-radius: 20px 0 0 20px;", @class = "form-control", @type = "search", @placeholder = "Nhập hãng xe hoặc số chỗ xe cần tìm" })
                    <input class="tim" type="submit" value="Tìm kiếm" />
                </div>
                <div class="form-inline">
                    @Html.DropDownList("HANGXE", l1, "Hãng Xe", new { @style = "width:auto", @class = "form-control" })
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    @Html.DropDownList("MAUXE", l2, "Màu Xe", new { @style = "width:auto", @class = "form-control" })
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <a class="bntcss" href="/DanhMucXe/SearchOption">Tìm Xe Theo Giá</a>
}

<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems" style="margin-top:30px">DANH MỤC XE</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 moreBox">
                    <div class="productbox">
                        <div class="fadeshop">
                            @*<div class="captionshop text-center">
                                    <h3>@Html.DisplayFor(itemmodel => item.TENXE)</h3>
                                    <p>
                                        @Html.DisplayFor(itemmodel => item.TINHTRANG)
                                    </p>
                                    <p>
                                        Số chỗ: @Html.DisplayFor(itemmodel => item.LOAIXE.SOCHO)
                                    </p>
                                    @Html.ActionLink("Xem Chi Tiết", "Detail", new { id = item.MAXE }, new { @class = "learn-more detailslearn" })
                                </div>*@
                            <span class="maxproduct"><img src="@Url.Content(item.LOAIXE.HINHANH)" height="170" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>@Html.DisplayFor(itemmodel => item.LOAIXE.HANGSANXUAT) - @Html.DisplayFor(itemmodel => item.LOAIXE.SOCHO) CHỖ</h1>
                            </a>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <br />@Html.ActionLink("Xem Chi Tiết", "Detail", new { id = item.MAXE }, new { @class = "learn-more detailslearn" })
                            <h1><i style="color:#4b91c3;margin:10px" class="fa fa-shopping-cart"></i>@Html.ActionLink("Đặt Ngay", "DatHang", "GioHang", new { id = item.MAXE }, null)</h1>
                            <span class="price">
                                <span class="edd_price" style="font-size:20px; font-family:'Times New Roman';font-weight:bold; color: blue;">@Html.DisplayFor(itemmodel => item.DONGIA) / 1 Ngày</span>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="page_menu">
           
            <div class="MenuPage">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
    </div>
            <style>
                .rating li {
                    display: inline-block;
                    color: #FFAB02;
                }

                .checked {
                    color: orange;
                }

                .bntcss {
                   
                    display: inline-block;
           
                    padding: 12px 36px 5px;
                    margin: 10px 0 0 630px;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    letter-spacing: 2px;
                    border-radius: 40px;
                    background: linear-gradient(90deg,#0162c8,#55e7fc);
                }

                .tim {
                    padding: 12px 36px;
                    margin: 10px 0;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 8px;
                    letter-spacing: 2px;
                    border-radius: 0 20px 20px 0;
                    border: none;
                    background: linear-gradient(90deg,#0162c8,#55e7fc);
                }

                .formtim {
                    position: relative;
                    display: inline-block;
                    padding-left: 200px;
                 
                }
                .page_menu{
                    display:inline;
                    text-align:center;
                }
            </style>
            <link href="~/Content/css/LineIcons.2.0.css" rel="stylesheet" />
            <!-- CALL TO ACTION =============================-->
            @*<section class="content-block" style="background-color:#00bba7;">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                                    <h1 class="callactiontitle">
                                        Promote Items Area Give Discount to Buyers <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@