@model IEnumerable<DemoDB.Models.LOAIXE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoCho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangSanXuat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoCho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
